*~
/classes*/
/jars/
/generated/
/tools/java/emma*.jar
/tools/java/jacoco*.jar
/tools/java/junit.jar
/changenumber.properties
/tools/ide/netbeans/derby.log
/tools/ide/netbeans/nbproject/private/
/junit_*/
/javadoc/
/packageListLoc-j2ee-7/
/packageListLoc-se-8/
.idea
.vscode/
