//
// fillLog.policy
//
grant codeBase "${derbyTesting.codejar}derby.jar" {
  // for unit tests
  permission java.util.PropertyPermission "derbyTesting.unittest.*", "read";
};
