//
// test specific permissions for test:
// lang/dataSourcePermissions_net.java
//
grant codeBase "${derbyTesting.codejar}derbyTesting.jar" {
  permission java.lang.RuntimePermission "setIO";
  
};

grant codeBase "${derbyTesting.codeclasses}" {
  permission java.lang.RuntimePermission "setIO";
  
};
