//
// test specific permissions for test:
// derbynet/sysinfo_withproperties.java
//
grant codeBase "${derbyTesting.testjar}/derbyTesting.jar" {
  //client side: test execs another jvm with relative path
  permission java.io.FilePermission "<<ALL FILES>>", "execute";
};

// See DERBY-622
grant codeBase "${derbyTesting.codejar}/derby.jar" {
  permission java.io.FilePermission "${derbyTesting.codedir}${/}*", "read";
};

grant codeBase "${derbyTesting.codejar}/derbynet.jar" {
  permission java.io.FilePermission "${derbyTesting.codedir}${/}*", "read";
};

grant codeBase "${derbyTesting.codejar}/derbytools.jar" {
  permission java.io.FilePermission "${derbyTesting.codedir}${/}*", "read";
};

grant codeBase "${derbyTesting.codeclasses}" {
  permission java.io.FilePermission "${derbyTesting.codedir}", "read";
  permission java.io.FilePermission "${derbyTesting.codeclasses}${/}*", "read";
  //client side: test execs another jvm with relative path
  permission java.io.FilePermission "<<ALL FILES>>", "execute";
};
