//
// test specific permissions for test:
// lang/errorStream.java
//
grant codeBase "${derbyTesting.testjar}derbyTesting.jar" {
  permission java.lang.RuntimePermission "setIO";
  
};

grant codeBase "${derbyTesting.codeclasses}" {
  permission java.lang.RuntimePermission "setIO";
  
};
