//
// Test specific permissions for test:
// lang/xmlBinding.java
//
// This test inserts an XML document into an XML column,
// which means that Derby will use Xerces to parse the
// XML document string.  Since the XML document includes
// a pointer to a schema document (personal.dtd), Xerces
// will try to read that document--but in order for that
// to work the Xerces classes need to have read permission
// on user.dir.   We can't, however, add that permission
// to the derby_tests.policy file because the Xerces classes
// could be in a Xerces jar anywhere on the system, or they
// could be included in the JVM's own jar (ex. IBM 1.4).  And
// further, when DERBY-567 is fixed the parser that is used
// could vary from JVM to JVM, so it might not be Xerces but
// some other parser that needs read permission. So therefore
// we simply grant read FilePermission on {user.dir} to "all"
// for this specific test, which covers Xerces and any other
// potential parsers that might need read permission after
// DERBY-567 is fixed.
//

grant {
  permission java.io.FilePermission "${user.dir}/personal.dtd", "read";
};
